<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="[AUTHOR_NAME]">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="style.css">
    <title>[title]</title>
    [google_tag]

</head>

<body>
    [header]
    [breadcrumbs]

    <section class="my-96 container-md">
        [content]
        <!-- <div>
                <div class="profile-box">
                    <img class="profile-pic mb-16" src="/images/martin-pellizzer-300x300.jpg">
                    <p class="profile-name text-center">Martin Pellizzer</p>
                    <p class="text-center mb-0">Herbalist, Botanist, Biologist, Scientist, and Self-Proclaimed Alchemist
                        - Lover of Nature, Plants, and Chickens 🐣</p>
                </div>
            </div> -->
    </section>

    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>

</body>

</html>