<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="[author]">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="/util.css">
    <link rel="stylesheet" href="/style.css">
    <title>[title]</title>
    [google_tag]
</head>

<body>
    [header]
    [breadcrumbs]

    <section class="category-grid my-96 container-lg">
        [category_title]
        [category_intro]
        <div class="grid grid-4 gap-24">
            [content]
        </div>
    </section>

    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>

</body>

</html>