<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Martin Pellizzer">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="util.css">
    <link rel="stylesheet" href="style.css">
    <title>Herbalism & Natural Healing</title>
    [google_tag]
</head>

<body>
    [header]

    <main>
        <section class="container-lg py-48 grid grid-2 gap-32 items-center">
            <div>
                <h1 class="mb-16">The Art and Science of Healing with Herbs</h1>
                <p class="mb-32">Learn to use medicinal herbs to improve your physical, mental, and spiritual health.
                    Discover 1000+ medical plants in our database and how to leverage them to relieve most common
                    ailments, diseases, and other health problems.
            </div>
            <div>
                <img class="rounded-xl" src="/images/healing-herbs.jpg" alt="healing herbs">
            </div>
        </section>
        </p>
        <!-- <div><a class="button" href="/start-here.html">Start Your Healing Journey Here</a></div> -->
        <!-- 
        <section class="container-lg">
            <h2>Medicinal Herbs</h2>
            <p>Discover the healing power of nature's remedies.</p>
            [herbs_articles]
            <div class="grid grid-3 gap-24">
                <div class="card">
                    <img class="card-image"
                        src="/images/achillea-millefolium-medicine-benefits-boosts-immunity-system.jpg" alt=""
                        width="400" height="300">
                    <h3 class="px-16 mt-16">Echinacea</h3>
                    <p class="px-16 mt-16">Boosts the immune system and fights infections.</p>
                </div>
                <div class="card">
                    <img class="card-image"
                        src="/images/zingiber-officinale-medicine-benefits-alleviates-inflammation.jpg" alt=""
                        width="400" height="300">
                    <h3 class="px-16 mt-16">Ginger</h3>
                    <p class="px-16 mt-16">Reduces inflammation and aids digestion.</p>
                </div>
                <div class="card">
                    <img class="card-image"
                        src="/images/ocimum-tenuiflorum-medicine-precautions-regulate-blood-pressure.jpg" alt=""
                        width="400" height="300">
                    <h3 class="px-16 mt-16">Turmeric</h3>
                    <p class="px-16 mt-16">Powerful anti-inflammatory and antioxidant.</p>
                </div>
                <div>text</div>
                <div>text</div>
                <div>text</div>
                <div>text</div>
            </div>

        </section> -->


        <section class="container-lg">
            <h2>Best Herbal Teas</h2>
            <p>Discover the healing power of nature's infusions.</p>
            <div class="home-best-teas grid grid-4 gap-24">
                [teas_articles]
            </div>
        </section>



        <section class="py-48">
            <div class="container-lg">
                <h2 class="text-center mb-16 mt-0">Top Medicinal Herbs Guides</h2>
                <p class="text-center mb-48">Here are some of the best medicinal herbs that help you relieve your health
                    conditions</p>
                <div class="articles">
                    <a href="/plants/achillea-millefolium.html">
                        <div>
                            <img src="images/achillea-millefolium-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Achillea millefolium (Yarrow)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/acorus-calamus.html">
                        <div>
                            <img src="images/acorus-calamus-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Acorus calamus (sweet flag)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/aesculus-hippocastanum.html">
                        <div>
                            <img src="images/aesculus-hippocastanum-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Aesculus hippocastanum (horse chestnut)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/allium-sativum.html">
                        <div>
                            <img src="images/allium-sativum-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Allium sativum (garlic)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/aloe-vera.html">
                        <div>
                            <img src="images/aloe-vera-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Aloe vera (aloe vera)</h3>
                        </div>
                    </a>

                    <a href="/plants/alpinia-officinarum.html">
                        <div>
                            <img src="images/alpinia-officinarum-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Alpinia officinarum (galangal)</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>



    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>
</body>

</html>