<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Martin Pellizzer">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="util.css">
    <link rel="stylesheet" href="style.css">
    <title>Herbalism & Natural Healing</title>
    [google_tag]
</head>

<body>
    [header]

    <!-- <header class="header">
        <div class="container-lg">
            <div class="header-section">
                <a href="">TerraWhisper</a>
                <nav>
                    <input type="checkbox" class="toggle-menu">
                    <div class="hamburger"></div>
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/herbalism.html">Herbalism</a></li>
                        <li><a href="/ailments.html">Ailments</a></li>
                        <li><a href="/about.html">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header> -->

    <main>

        <section class="hero">
            <div class="grid grid-2 items-center">
                <div class="hero-content">
                    <h1>Scientific Herbalism.<br><span>Learn the art and science of using medicinal herbs to
                            heal more than 300 physical, mental, and spiritual ailments.</span></h1>
                    <a class="button-secondary" href="">Browse Ailments</a>
                </div>
                <div class="hero-img">
                </div>
            </div>
        </section>
        </p>
        <!-- <div><a class="button" href="/start-here.html">Start Your Healing Journey Here</a></div> -->
        <!-- 
        <section class="container-lg">
            <h2>Medicinal Herbs</h2>
            <p>Discover the healing power of nature's remedies.</p>
            [herbs_articles]
            <div class="grid grid-3 gap-24">
                <div class="card">
                    <img class="card-image"
                        src="/images/achillea-millefolium-medicine-benefits-boosts-immunity-system.jpg" alt=""
                        width="400" height="300">
                    <h3 class="px-16 mt-16">Echinacea</h3>
                    <p class="px-16 mt-16">Boosts the immune system and fights infections.</p>
                </div>
                <div class="card">
                    <img class="card-image"
                        src="/images/zingiber-officinale-medicine-benefits-alleviates-inflammation.jpg" alt=""
                        width="400" height="300">
                    <h3 class="px-16 mt-16">Ginger</h3>
                    <p class="px-16 mt-16">Reduces inflammation and aids digestion.</p>
                </div>
                <div class="card">
                    <img class="card-image"
                        src="/images/ocimum-tenuiflorum-medicine-precautions-regulate-blood-pressure.jpg" alt=""
                        width="400" height="300">
                    <h3 class="px-16 mt-16">Turmeric</h3>
                    <p class="px-16 mt-16">Powerful anti-inflammatory and antioxidant.</p>
                </div>
                <div>text</div>
                <div>text</div>
                <div>text</div>
                <div>text</div>
            </div>

        </section> -->


        <section class="container-lg">
            <h2>Best Herbal Teas</h2>
            <p>Discover the healing power of nature's infusions.</p>
            <div class="home-best-teas grid grid-4 gap-24">
                [teas_articles]
            </div>
        </section>



        <section class="py-48">
            <div class="container-lg">
                <h2 class="text-center mb-16 mt-0">Top Medicinal Herbs Guides</h2>
                <p class="text-center mb-48">Here are some of the best medicinal herbs that help you relieve your health
                    conditions</p>
                <div class="articles">
                    <a href="/plants/achillea-millefolium.html">
                        <div>
                            <img src="images/achillea-millefolium-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Achillea millefolium (Yarrow)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/acorus-calamus.html">
                        <div>
                            <img src="images/acorus-calamus-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Acorus calamus (sweet flag)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/aesculus-hippocastanum.html">
                        <div>
                            <img src="images/aesculus-hippocastanum-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Aesculus hippocastanum (horse chestnut)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/allium-sativum.html">
                        <div>
                            <img src="images/allium-sativum-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Allium sativum (garlic)
                            </h3>
                        </div>
                    </a>
                    <a href="/plants/aloe-vera.html">
                        <div>
                            <img src="images/aloe-vera-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Aloe vera (aloe vera)</h3>
                        </div>
                    </a>

                    <a href="/plants/alpinia-officinarum.html">
                        <div>
                            <img src="images/alpinia-officinarum-overview.jpg" alt="">
                            <h3 class="mt-0 mb-0">Alpinia officinarum (galangal)</h3>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>



    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>
</body>

</html>