<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="[author_name]">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="/style.css">
    <title>[title]</title>
    [google_tag]
</head>

<body>
    [header]

    <section class="my-96 container-md">
        <h1 class="text-center mb-16">Discover All 500+ Plants Inside TerraWhisper Database</h1>
        <p class="text-center">This page lists the scientific names of all the plants we have in our database in
            alphabetical order (from "A" to "Z"). Click on any of these names to learn more about that particular plant.
        </p>
        <p class="text-center">As this page contains a lot of plants, you may want to visit our <a
                href="/top-herbs.html">top healing herbs page</a> to undertand which herbs are the most commonly used in
            herbalism and which herbs give the best health benefits.
        </p>
        <p class="text-center">In alternative, you can visit our conditions page if you already know what health
            condition you have and want to know what medicinal herbs and preparations are best suited to treat that
            condition.
        </p>
    </section>
    <section class="my-96 container-lg">
        <div class="grid-4">
            [items]
        </div>
    </section>

    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>
</body>

</html>