<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="[author_name]">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="/style.css">
    <title>[meta_title]</title>
    [google_tag]

</head>

<body>
    [header]

    <section class="pt-16">
        <div class="container-lg">
            [breadcrumbs]
        </div>
    </section>

    <section class="pt-64">
        <div class="container">
            <div class="flex justify-between mb-16">
                <span>by [author_name]</span>
                <span>[reading_time]</span>
            </div>
        </div>
    </section>

    <section class="mb-96">
        <div class="container">
            [article_intro]
        </div>
    </section>

    <section class="my-96">
        <div class="container-lg mb-32">
            [article_medicine]
        </div>
        <div class="container">
            [article_medicine_2]
        </div>
    </section>

    <section class="my-96">
        <div class="container">
            [article]
        </div>
    </section>

    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2023 | All Rights Reserved
        </div>
    </footer>
</body>

</html>