<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="[AUTHOR_NAME]">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="style.css">
    <title>[title]</title>
    [google_tag]

</head>

<body>
    [header]
    [breadcrumbs]

    <section class="my-96 container-md">
        <h1>How to get started with herbal healing and herbalism at TerraWhisper (the fast way)?</h1>
        <p>If you reading this, chances are you fall into one of the 2 following categories:</p>
        <ol>
            <li>You have a health condition you want to alleviate</li>
            <!-- <li>You don't have a health condition but you want to improve your general health</li> -->
            <li>You simply want to learn what herbalism is</li>
        </ol>
        <p>If you actually fall into one of the above categories, read the corresponding section down below to learn the
            fastest way to get to your goal.</p>
        <p>If you don't fall into one of the above categories, maybe TerraWhisper is not for you. Still, feel free to
            browse around if you want.</p>

        <h2>How to get started if you have a health condition you want to alleviate?</h2>
        <p>This is the most common reason why people read articles here at TerraWhisper. You have a condition, ailment,
            or simply a symptom that's bothering you quite a lot, and you want to get rid of it for good.</p>
        <p>In this case, visit the <a href="/conditions.html">conditions page</a> (currently under construction).</p>
        <p>In this page, you'll find a list of health related problems that medicinal herbs help relieving. </p>
        <p>These health
            problems are categorized by body systems for easier navigation. For example, if you have a gut related
            issue, go to the digestive system section. If you have a cardiovascular related issue, go to the
            cardiovascular system. And so on.</p>
        <p>Once you locate your problem, click the corresponding link (if available) to browse to that problem page,
            where you'll find a description about the problem, what are it's causes, and how to use herbal medicine to
            ease it.</p>
        <p>More conditions a symptoms are added on a daily basis. If your issue is not present today, it may be present
            tomorrow, so visit this page regularly for updates.</p>
        <!-- <h2>How to get started if you want to boost your physical, mental, and spiritual health?</h2> -->
        <h2>How to get started if you want to know what herbalism is and why it can help your health?</h2>
        <p>If you don't have a specific condition that you want to heal, but you simply want to learn how to improve
            your general physical, mental, and spiritual health by practicing herbalism, visit the <a
                href="/herbalism.html">herbalism page</a>.</p>
        <p>In this page you'll discover what herbalism is and what are the primary conditions it helps relieve. Also it
            teaches you what are the most commonly used herbs, preparations, and tools.</p>
        <p>Just to be clear, this section is meant to to be a quick start guide on herbalism and it does not promise you
            that you'll become a herbalist or herbal practictioner. All the information provided in this section does
            NOT give you any legal right to practice herbal medicine on other people.</p>
        <h2>Summary</h2>
        <p>Choose one of the 2 above mentioned paths (journeys) and move on from there.</p>
        <p>Herbal healing is a safe practice if you stick to the rules and herbalism is a wonderful world to explore for
            your body and soul.</p>
        <p>Start your journey now and aim at living a disease free life full of energy and enjoyment.</p>
    </section>

    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>

</body>

</html>