<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="[author_name]">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="style.css">
    <title>[meta_title]</title>
    [google_tag]
</head>

<body>
    [header]
    [breadcrumbs]

    <section class="my-96">
        <div class="container-lg">
            <h1 class="text-center mb-16">The 100 Most Commonly Used Medicinal Herbs</h1>
            <p class="text-center">This page lists (in alphabetical order) the best and most appreciate medicinal
                herbs around the world.</p>
            <p class="text-center mb-48">For a complete list of plants and their characteristics, <a
                    href="/plants.html">visit the plants page</a>.
            </p>

            [articles]
            <!-- <div class="articles">
            </div> -->
        </div>
    </section>

    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>
</body>

</html>