* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 2.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 128.0rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

h1 {
    font-size: 3.2rem;
    line-height: 4.0rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 4.0rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #334155;
}

img {
    width: 100%;
}


.logo {
    height: 6.4rem;
}



.avatar-card {
    background-color: #eeeeee;
    padding: 2.4rem;
    text-align: center;
}

.avatar-img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 9999px;
}



.button {
    display: inline-block;
    background-color: #030712;
    color: white;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
}

.button-secondary {
    display: inline-block;
    box-shadow: 0px 0px 0px 1px #030712;
    color: #030712;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.by-line {
    font-size: 1.2rem;
    color: #aaa;
    text-align: start;
    letter-spacing: 0.5px;
}

.by-line svg {
    width: 1.4rem;
}

.author-anchor {
    color: #777;
    font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
    text-decoration: none;

}


header {
    background-color: #030712;

}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2.0rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.thumbnail {
    object-fit: cover;
}

/* ****************************************** */
/* HERO */
/* ****************************************** */

.hero-container {
    max-width: 64.0rem;
    margin-left: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.hero-img {
    --opacity: 0.0;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, var(--opacity)), rgba(0, 0, 0, var(--opacity))), url('images/homepage/0003.jpg');
    background-position: center;
    background-size: cover;
}

.hero h1 {
    font-size: 9.6rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1.6rem;
}

.hero h1 span {
    display: inline-block;
    font-size: 2.0rem;
    line-height: 3.0rem;
}

.section-1 h2 {
    font-size: 3.2rem;
    color: #616D63;
    text-align: center;
    margin-bottom: 1.6rem;
}

.section-1 img {
    height: 80rem;
    object-fit: cover;
}

.section-1 .content {
    max-width: 64.0rem;
    padding-left: 2.4rem;
}