@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Medium;
    src: url(fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 128.0rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

h1 {
    font-family: OpenSans-Medium, Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    line-height: 4.0rem;
    color: #333;
}

p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #333;
}

img {
    width: 100%;
}


.logo {
    height: 6.4rem;
}



.avatar-card {
    background-color: #eeeeee;
    padding: 2.4rem;
    text-align: center;
}

.avatar-img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 9999px;
}



.button {
    display: inline-block;
    background-color: #171717;
    color: white;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
}

.by-line {
    font-size: 1.2rem;
    color: #aaa;
    text-align: start;
    letter-spacing: 0.5px;
}

.by-line svg {
    width: 1.4rem;
}

.author-anchor {
    color: #777;
    font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
    text-decoration: none;

}


header {}


.thumbnail {
    /* width: 30rem; */
    object-fit: cover;
}


.hero {
    --opacity: 0.0;
    height: 80vh;
    background-color: var(--color-pink-dark);
    background: linear-gradient(rgba(0, 0, 0, var(--opacity)), rgba(0, 0, 0, var(--opacity))), url(https://images.unsplash.com/photo-1455218873509-8097305ee378?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background: linear-gradient(rgba(0, 0, 0, var(--opacity)), rgba(0, 0, 0, var(--opacity))), url(https://images.unsplash.com/photo-1492496913980-501348b61469?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background: linear-gradient(rgba(0, 0, 0, var(--opacity)), rgba(0, 0, 0, var(--opacity))), url(https://images.unsplash.com/photo-1507041957456-9c397ce39c97?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background: linear-gradient(rgba(0, 0, 0, var(--opacity)), rgba(0, 0, 0, var(--opacity))), url(https://images.unsplash.com/photo-1492552085122-36706c238263?q=80&w=2097&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background: linear-gradient(rgba(0, 0, 0, var(--opacity)), rgba(0, 0, 0, var(--opacity))), url(images/homepage/herbs-03.png);
    background-position: center;
    background-size: cover;
}

.hero h1 {
    color: white;
}



.section-1 {}

.section-1 h2 {
    font-size: 3.2rem;
    color: #616D63;
    text-align: center;
    margin-bottom: 1.6rem;
}

.section-1 img {
    height: 80rem;
    object-fit: cover;
    /* object-position: bottom; */
}

.section-1 .content {
    max-width: 64.0rem;
    padding-left: 2.4rem;
}