* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3.0rem;
    line-height: 3.6rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #6b7280;
}

.container-xl {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem;
}

nav {
    display: flex;
    gap: 1.6rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

nav a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.gap-24 {
    gap: 2.4rem;
}

.gap-48 {
    gap: 4.8rem;
}

.img-placeholder {
    height: 40rem;
    background-color: #e8e8e8;
    border-radius: 13px;
}

.hero-section {
    max-width: 120rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3.2rem;
}

.herbs-section {
    background-color: #e8e8e8;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
}

.text-center {
    text-align: center;
}

.card {
    background-color: white;
    height: 40rem;
    border-radius: 8px;
}