<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="[author_name]">
    <meta name="p:domain_verify" content="b3cb3dbe613e3700596c8f50c5208042" />
    <link rel="stylesheet" href="/style.css">
    <title>[meta_title]</title>
    [google_tag]
</head>

<body>
    [header]

    <section class="my-96">
        <div class="container-lg">
            <h1 class="text-center mb-16">Herbal Teas For Every Health Condition</h1>
            <p class="text-center mb-48">Below you can find a list of health conditions, each of which links to an
                article about the top herbal teas you can dring to relieve that particular condition.</p>
            [articles]
        </div>
    </section>

    <footer>
        <div class="container-lg">
            <span>© TerraWhisper.com 2024 | All Rights Reserved
        </div>
    </footer>
</body>

</html>